/****** Header *******/
.responsive-header{
  background-color:#333;;
  height: 90px;
  width: 32.2cm;
  max-width: 33cm;
 
}
.home{
   width: 120px;
   height: 98px;
   background-color: #fff;
   border-radius: 80px;
}
.div-header-home{
    width: 5cm;
position: relative;
top: -11px;    

}
.logo{
   
    width: -1.5cm;
    height: 1.5cm;
    position: relative;
    top: 66px;
    background-color: #fff;
    border-radius: 3px;
}
.container-header{
width: 0.5cm;
height: auto;
margin-left: 1140px;
top: -150px;
position: relative;
/* background: rgb(216, 18, 0); */
}
.btn-header{
  display: contents;

}
.nav-header{
    margin-left: -75px;
    position: relative;
    top: 23.5px;
    background-color: rgba(148, 148, 148, 0.831);
    width: 4.0cm;
}
.ul-header{
   list-style: none;
   top: 18px;
   position: relative

}

.div-home-employe{
    background-color: aqua;
}


/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .footer-item {
    flex-basis: calc(33.333% - 20px);
    margin-bottom: 20px;
    margin-left: 15px;
  }
  
  .footer-item h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-item p {
    margin-bottom: 5px;
  }
  
  .footer-item a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-item a:hover {
    text-decoration: underline;
  }
  
  .footer-copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer ul li {
    margin-bottom: 5px;
  }
  
  .footer i {
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle;
  }
  /* media */
  
  @media (max-width: 767px) {
    .footer-item {
      flex-basis: 100%;
    }
  }


@media (min-width: 768px) {
    .menu-icon {
        display: flex;
    }

    .nav-links {
        flex-direction: row;
    }

    .open {
        flex-direction: row;
    }
}